<!DOCTYPE html>
<html lang="es">
<head>
    <title>ATILAVE</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://kit.fontawesome.com/0366f095a1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
</head>
<body>
    <header>
        <div class="contenedor">            
            <img class="logo" src="/img/logo_white_large.png"> 
            <input type="checkbox" id="menu-bar">
            <label class="fas fa-bars" for="menu-bar"></label>
            <nav class="menu">                
                <img src="/img/logo_white_large.png">
                <a href="/">Inicio</a>
                <a href="login">Login</a>
                <a href="registro">Registro</a>                            
            </nav>
        </div>
    </header>
    <main>
       <section id="banner">
           <img src="https://i.ibb.co/PQVr5kV/consentido.gif" class="video-banner">           
       </section>
       <section id="bienvenidos">
            <h2>Lavado ecológico para tu auto</h2>
            <P>Somos una propuesta ecológica e innovadora de lavado de autos, 
                nuestro principal objetivo es desarrollar una operación de calidad 
                con la mayor comodidad de un servicio V.I.P. Trabajamos con personal 
                altamente calificado y brindamos un servicio de spa para consentir y 
                cuidar su auto con todas las medidas de seguridad para garantizar el 
                cuidado de su vehículo. En ATILAVE encontrarás innovación, calidad y 
                confort en el lavado ecológico de su auto en la ciudad de Bogotá.</P>            
       </section>
       <section id="blog">
            <h3>Conoce nuestros servicios:</h3>
            <div class="contenedor">
                <article>
                    <div class="servicio1">
                        <img class="carro1" src="/img/lavado carro1.png">
                        <aside>
                            <h4>Servicio Express</h4>
                            <p>Servicio de lavado exterior del vehículo con cera.
                            Durante el proceso solo se utilizan insumos especializados
                            y biodegradables.</p>
                        </aside>
                    </div>
                    <div class="servicio2">
                        <img class="carro2" src="/img/lavado carro2.png">
                        <aside>
                            <h4>Servicio ATILAVE MAX</h4>
                            <p>Servicio de lavado exterior con cera e interior del vehículo. 
                                El procedimiento incluye aspirada, hidratación especializada 
                                de tableros y limpieza de carteras, con ambientador a petición 
                                del cliente.</p>
                        </aside>
                    </div>
                    <div class="servicio3">
                        <img class="carro3" src="/img/lavado carro3.png">
                        <aside>
                            <h4>Limpieza de motor</h4>
                            <p>La limpieza del motor aporta al cuidado de esta pieza, evitando fallas 
                                posteriores que incidan en reparaciones de altos costos. Este servicio 
                                se realiza con especial cuidado y profesionalismo para prevenir daños 
                                en la estructura o fallas eléctricas. Realizarlo en un establecimiento 
                                serio y seguro es su garantía para mayor tranquilidad.</p>
                        </aside>
                    </div>                                        
                </article>
            </div>
       </section> 
       <section id="info">
           <h3>El desarrollo de nuestra operación está fundamentada en el cuidado 
               del medio ambiente.</h3>
               <div class="contenedor">
                   <div class="info-pet">
                       <img src="/img/icono1.png" alt="icono1">
                       <h4>Por esta razón nuestro modelo de lavado únicamente 
                        genera un consumo de 10 – 12 litros de agua por vehículo, a diferencia 
                        del sistema tradicional que puede generar un consumo de hasta 55 litros 
                        por carro.</h4>
                   </div>
                   <div class="info-pet">
                       <img src="/img/icono2.png" alt="icono2">
                       <h4>Usamos productos biodegradables que respetan el medio ambiente.</h4>
                   </div>
                   <div class="info-pet">
                       <img src="/img/icono3.png" alt="icono3">
                       <h4>Para mayor seguridad de nuestros clientes, el registro de cada vehículo 
                           se sistematiza incluyendo la toma de material fotográfico del estado del 
                           auto ya que nuestro mayor interés es garantizar el buen cuidado de su carro.</h4>
                   </div>
                   <div class="info-pet">
                       <img src="/img/icono4.png" alt="icono4">
                       <h4>Contamos con un equipo de supervisores que velan por la calidad del proceso 
                           y el cuidado de su auto.</h4>
                   </div>
               </div>
       </section>
    </main>
    <footer>
        <div class="contenedor">
            <p class="copy">ATILAVE &copy; 2021</p>
            <div class="sociales">
                <a class="fab fa-facebook" href="#"></a>
                <a class="fab fa-twitter" href="#"></a>
                <a class="fab fa-instagram" href="#"></a>
                <a class="fab fa-youtube" href="#"></a>
            </div>
        </div>
    </footer>
</body>
</html>